<div id= "footer">
  <div class="social">
    <i class="fa fa-instagram fa-3x"></i>
    <i class="fa fa-facebook-square fa-3x"></i>
    <i class="fa fa-twitter-square fa-3x"></i>
  </div>
  <h3>Copyright 2018 <i>Return The Favor</i></h3>

</div>