<div class="navbar">

  <div class="logo">

    <a href="/home"><img src="/images/logo-circle.png" alt "RTFLogo"></a>
    <div class = "rtf">
      <h1><span><u>Ret</u>urn The F.A.V.O.R.</span></h1>
    </div>
  </div>

  <div class= "menu">

    <div class="dropdown">
      <button class="dropbtn">Resources
       <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <a href="/about">About/Contact</a>
        <a href="/documents">Documents</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Support
       <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <a href="/support">Add a Discount</a>
        <a href="/support#sectionTwo">Add an Event</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Veterans
       <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <a href="/discounts">Discounts</a>
        <a href="/events">Events</a>
      </div>
    </div>
  <!--closing menu-->
  </div>
<!--closing navbar -->
</div>