<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Return The Favor Program, Discounts for Veterans">
		<meta name="keywords" content="F.A.V.O.R., DD-214, Discounts, Veterans, NYS, Rensselaer, Troy, Capital Region">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
		<script src="/javascript/jQuery_v3_3_1.js"></script>
		<link rel="icon" type="image/png" href="/images/favicon.png">

		<title>About Return The Favor Jason Lebrecht></title>
	</head>

	<body>
<!-- ************************ START OF NAVBAR AREA**************** -->
{{> header }}
<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF SECTION ONE **************** -->
		<div id= "sectionOne">
			<ul class="sectop">
				<li><h2><span class= "accent">Abo</span>ut</h2></li>
				<li class="dogbuil"><img class= "dogtags" src= "/images/icon-ID_tags.svg">
				<img class= "building" src= "/images/icon-shop.svg"></li>
			</ul>

			<div class="pics">
				<img class= "jason" src= "/images/jason.jpg">
				<img class= "tank" src= "/images/tank.jpg">
			</div>

			<p class= "ms">Thank you for visiting ReturnTheFAVOR.vet.  I started this website because I noticed the Return the FAVOR participating Business List was out of date and difficult to use.  Initially I just wanted to put my county&rsquo;s vendor list online so it could be accessible from any smartphone, but as I researched the Return The FAVOR program and talked with other veterans, I discovered a bigger opportunity to assist my fellow veterans of New York State.</p>

			<p class= "ms"><strong>The ReturnTheFAVOR.vet mission</strong> is to create a sense of an online community for veterans by linking them to resources, events, and businesses in their region and across the United States.
			</p>

			<p class= "ms"><strong>ReturnTheFAVOR.vet will do this by:</strong> <p>
			<ul class = "about-list">	
			<li>Informing veterans of businesses that are happy to give discounts on products and services. </li>
			<li>Informing veterans on where to go to register for the Return The FAVOR program in their county. </li>
			<li>Linking veterans with County, State and Federal veteran programs and information. </li>
			<li>Linking veterans with Non-Government Offices (NGOs) who want to assist and aid veterans. </li>
			<li>Promoting, advertising and marketing veteran organizations, events, veteran friendly businesses and veteran needs.</li>
			</ul>

			<p>&ndash;<strong>Jason Lebrecht</strong><br/>
			 <span class= "indent"> Service-Disabled Army Veteran </span> <p>


		<!-- close section one -->
		</div>
<!-- ************************ END OF SECTION ONE **************** -->

<!-- ************************ START OF SECTION TWO **************** -->
<div id= "sectionTwo">
	<ul class="sectop">
	<li><h2><u>Con</u>tact</h2></li>
	<li class="dogbuil"><img class= "dogtags" src= "/images/icon-ID_tags.svg">
	<img class= "building" src= "/images/icon-shop.svg"></li>
</ul>

	<span><b>Return The F.A.V.O.R.</b>
	</span>

	<br>

	<span><b>Jason Lebrecht</b>
	</span>

	<br>

	<span><b>333 Broadway</b>
	</span>

	<br>

	<span><b>Suite 204</b>
	</span>

	<br>

	<span><b>Troy, NY 12180  </b>
	</span>

	<br>

	<br>

	<span><a href= "mailto:ReturnTheFavorVet@gmail.com"<b>ReturnTheFavorVet@gmail.com</b></a>
	</span>

			<i class="fa fa-envelope fa-2x"></i>
		</div>

<!-- ************************ END OF SECTION TWO **************** -->

<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->
{{> footer}}
<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->

</body>
</html>
