<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Return The Favor Program, Discounts for Veterans">
    <meta name="keywords" content="F.A.V.O.R., DD-214, Discounts, Veterans, NYS, Rensselaer, Troy, Capital Region">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>About Return The Favor Jason Lebrecht></title>
  </head>

  <body>
<!-- ************************ START OF NAVBAR AREA**************** -->
{{> header }}
<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF SECTION ONE **************** -->
    <div id= "sectionOne">

      <form action="/admin/login" method="post">
          <div>
              <label>Username:</label>
              <input type="text" name="username"/>
          </div>
          <div>
              <label>Password:</label>
              <input type="password" name="password"/>
          </div>
          <div>
              <input type="submit" value="Log In"/>
          </div>
      </form>

      <ul class="sectop">
        <li><h2><span class= "accent">Hold</span>ing</h2></li>
        <li class="dogbuil"><img class= "dogtags" src= "/images/icon-ID_tags.svg">
        <img class= "building" src= "/images/icon-shop.svg"></li>
      </ul>
      <p>Here is <a href="/admin/holding">the holding page.</a></p>
    <!-- close section one -->
    </div>
<!-- ************************ END OF SECTION ONE **************** -->

<!-- ************************ START OF SECTION TWO **************** -->
<div id= "sectionTwo">
  <ul class="sectop">
  <li><h2><u>Look</u>up</h2></li>
  <li class="dogbuil"><img class= "dogtags" src= "/images/icon-ID_tags.svg">
  <img class= "building" src= "/images/icon-shop.svg"></li>
</ul>

<p>Here is <a href="/admin/lookup">the lookup page.</a></p>

    </div>

<!-- ************************ END OF SECTION TWO **************** -->

<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->
{{> footer}}
<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->

</body>
</html>
