<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Return The Favor Program, Discounts for Veterans">
		<meta name="keywords" content="F.A.V.O.R., DD-214, Discounts, Veterans, NYS, Rensselaer, Troy, Capital Region">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
		<link rel="icon" type="image/png" href="images/favicon.png">
		<title>Discounts Return The Favor Veterans DD-214</title>
	</head>

	<body>

<!-- ************************ START OF NAVBAR AREA**************** -->
<div class="navbar">

  <div class="logo">

    <a href="home"><img src="images/logo-circle.png" alt "RTFLogo"></a>
    <div class = "rtf">
      <h1><span><u>Ret</u>urn The F.A.V.O.R.</span></h1>
    </div>
  </div>



  <div class= "menu">

    <div class="dropdown">
      <button class="dropbtn">Resources
       <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <a href="about">About/Contact</a>
        <a href="documents">Documents</a>
      </div>
    </div>
     
    <div class="dropdown">
      <button class="dropbtn">Support
       <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <a href="support">Add a Discount</a>
        <a href="support#sectionTwo">Add an Event</a>
      </div>
    </div>
     
    <div class="dropdown">
      <button class="dropbtn">Veterans
       <i class="fa fa-caret-down"></i>
      </button>
  
      <div class="dropdown-content">
        <a href="discounts">Discounts</a>
        <a href="events">Events</a>
      </div>  
    </div>
  <!--closing menu--> 
  </div>
<!--closing navbar -->  
</div>

<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF SECTION ONE AREA**************** -->
		<div id= "sectionOne">
			<h2><span class= "accent">Dis</span>counts</h2>
			<img class= "dogtags" src= "images/icon-ID_tags.svg">
			<img class= "building" src= "images/icon-shop.svg">
			<h3><i>The Discount Program</i></h3>
			<p>A Special <i>THANKS</i> to our Community of Businesses who honor our Veterans by participating in the F.A.V.O.R. Veterans Discount Program. Honorably discharged Veterans file their original discharge papers with their local County Clerks Office and receive a personalized F.A.V.O.R. ID card that they can present to participating local businesses. Veterans should contact their local County Clerks for more info about Filing their original DD-214 paperwork</p>
			<h3><i>Veterans Subscribe to our Newsletter</i></h3>
			<p>Veterans should subscribe to our newsletter to be notified about the latest Discounts and Events. All fields are required</p>

			<form method="POST" action="/support/veteran">
 			<div class="container">
    			<input type="text" placeholder="   'First_Last'" name="name" required>
				<label for="county">County</label>
    			<select id="county" name="county">
            <option value="1">Rensselaer</option>
            <option value="2">Albany</option>
            <option value="3">Schenectady</option>
            <option value="4">Saratoga</option>
      			<option value="All">All</option>
    			</select>

    			<input type="email" placeholder=" Email Address Required" name="email" required>

				<input type="submit" value="Subscribe">
  			</div>
			 </form>

		<!-- closing section one div -->
		</div>
<!-- ************************ END OF SECTION ONE AREA**************** -->
<!-- ************************ START OF SECTION TWO AREA**************** -->


		<form method="POST" action="/discounts">
		<div id= "sectionTwo">
			<h2><u>Sea</u>rch Discounts</h2>
			<img class= "dogtags" src= "images/icon-ID_tags.svg">
			<img class= "building" src= "images/icon-shop.svg">

			<!-- form action goes here? -->
			<div class="container">
 				<label for="county">County</label>
  				<select id="county" name="county">
				<option value="all">All</option>
        <option value=1>Rensselaer</option>
        <option value=2>Albany</option>
        <option value=3>Schenectady</option>
        <option value=4>Saratoga</option>
  				</select>

				<label for="zipcode"> Zip Code </label>
				<input type="number" placeholder="  5 Digit Zip Code" name="zipcode" maxlength="5" required>

  				<label for="category">Category</label>
  				<select id="category" name="category">
				<option value="all">All</option>
        <option value=1>Casual Dining and Take-Out</option>
        <option value=2>Art and Antiques</option>
        <option value=3>Banking</option>
        <option value=4>Books</option>
        <option value=5>Cleaners</option>
        <option value=6>Clothing</option>
        <option value=7>Family and Recreation</option>
        <option value=8>Flowers</option>
        <option value=9>Fine Dining and Nightlife</option>
        <option value=10>Haircare and Spas</option>
        <option value=11>Jewelry</option>
        <option value=12>Legal</option>
        <option value=13>Automotive</option>
        <option value=14>Home Services</option>
        <option value=15>Travel</option>
        <option value=16>Theater and Arts</option>
        <option value=17>Storage</option>
        <option value=18>Pets</option>
        <option value=19>Health and Fitness</option>
        <option value=20>Other</option>
  				</select>

  				<label for="recent">Recent</label>
  				<select id="recent" name="recent">
				<option value="10">Most Recent</option>
				<option value="1000">All</option>
  				</select>

  				<input type="reset" value="Reset">
  				<input class="search" type="text" placeholder="   Search.." name="search">
      			<button type="submit"><i class="fa fa-search fa-2x"></i></button>
			<!-- close the div "container" -->
			</div>
			</form>


			<div id= "outerdiv" class= "wide-discounts">

				<iframe id="inneriframe" class= "wider" name="discounts" width=500px height= 1000px src="https://rtrnthefvr.blogspot.com/?view=flipcard" scrolling=no>
				 <p> If you’re seeing this , your settings do not allow iframes </p>
				</iframe>

			</div>
		<!-- close the div "section two" -->
		</div>
<!-- ************************ END OF SECTION TWO AREA**************** -->

<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->

		<div id= "footer">

			<div class="social">
				<i class="fa fa-instagram fa-3x"></i>
				<i class="fa fa-facebook-square fa-3x"></i>
				<i class="fa fa-twitter-square fa-3x"></i>
			</div>
			<h3>Copyright 2018 <i>Return The Favor</i></h3>

		</div>

<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->



</body>
</html>
