<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Return The Favor Program, Discounts for Veterans">
		<meta name="keywords" content="F.A.V.O.R., DD-214, Discounts, Veterans, NYS,  Rensselaer, Troy, Capital Region">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
		<link rel="icon" type="image/png" href="images/favicon.png">
		<title>Documents RTF F.A.V.O.R. DD-214 County Clerks Dept of Veteran Services </title>
	</head>

	<body>

<!-- ************************ START OF NAVBAR AREA**************** -->
{{> header }}
<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF SECTION ONE **************** -->

			<div id= "sectionOne">
				<ul class="sectop">
				<li><h2><span class= "accent">Doc</span>uments</h2></li>
				<li class="dogbuil"><img class= "dogtags" src= "images/icon-ID_tags.svg">
				<img class= "building" src= "images/icon-shop.svg"></li>
			</ul>
				<h2><i>Download Documents</i></h2>
				<p>County Clerks and County Departments of Veteran Services can share their Documents on this page. <a href="about#sectionTwo">Contact</a> us for more info </p>
				<p>Veterans can look through our Document Library for Downloadable info on the DD-214 and F.A.V.O.R. programs as well as Updated Lists of Discounts and Newsletters shared by their Local County Clerks and Departments of Veteran Services.</p>


			</div>

<!-- ************************ END OF SECTION ONE **************** -->
<!-- ************************ START OF SECTION TWO **************** -->

			<div id="sectionTwo">
			<ul class="sectop">
				<li><h2><u>Doc</u>ument Downloads</h2></li>
				<li class="dogbuil"><img class= "dogtags" src= "images/icon-ID_tags.svg">
				<img class= "building" src= "images/icon-shop.svg"></li>
			</ul>
			</div>

<!-- ************************ END OF SECTION TWO **************** -->

<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->
{{> footer}}
<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->



</body>
</html>
