<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Return The Favor Program, Discounts for Veterans">
		<meta name="keywords" content="F.A.V.O.R., DD-214, Discounts, Veterans, NYS,  Rensselaer, Troy, Capital Region">
		<script src="/javascript/jquery-3.3.1.min.js"></script>
		<script
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js">
                </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
		<link rel="icon" type="image/png" href="/images/favicon.png">

		<title>Events Return The Favor Veterans Events</title>
	</head>

	<body>

<!-- ************************ START OF NAVBAR AREA**************** -->
{{> header }}
<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF SECTION ONE **************** -->

			<div id= "sectionOne">
			<ul class="sectop">
				<li><h2><span class= "accent">Eve</span>nts</h2></li>
				<li class="dogbuil"><img class= "dogtags" src= "/images/icon-ID_tags.svg">
				<img class= "building" src= "/images/icon-shop.svg"></li>
			</ul>
				<p>Veterans can find local events here. Events range from parades, celebrations and reunions to presentations that honor veterans for their service and sacrifice. Veterans may also find support, training, classes and other opportunities.</p>
				<p>Veterans should subscribe to our newsletter to be notified about the latest Discounts and Events. All fields are required.</p>

				<form method="POST" action="/events/veteran">
 					<div class="container">
    					<input type="text" placeholder="   'First_Last'" name="name" required>

						<label for="county">County</label>
						<select id="county" class="single" name="county" required>
						<option></option>
						<option value="1">Rensselaer</option>
						<option value="2">Albany</option>
						<option value="3">Schenectady</option>
						<option value="4">Saratoga</option>
						<option value="5">Columbia</option>
						<option value="6">Greene</option>
						<option value="7">Fulton</option>
						<option value="8">Warren</option>
						<option value="9">Schoharie</option>
						<option value="10">Montgomery</option>
						<option value="11">Allegany</option>
						<option value="12">Bronx</option>
						<option value="13">Broome</option>
						<option value="14">Cattaraugus</option>
						<option value="15">Cayuga</option>
						<option value="16">Chautauqua</option>
						<option value="17">Chemung</option>
						<option value="18">Chenango</option>
						<option value="19">Clinton</option>
						<option value="20">Cortland</option>
						<option value="21">Delaware</option>
						<option value="22">Dutchess</option>
						<option value="23">Erie</option>
						<option value="24">Essex</option>
						<option value="25">Franklin</option>
						<option value="26">Genesee</option>
						<option value="27">Hamilton</option>
						<option value="28">Herkimer</option>
						<option value="29">Jefferson</option>
						<option value="30">Kings</option>
						<option value="31">Lewis</option>
						<option value="32">Livingston</option>
						<option value="33">Madison</option>
						<option value="34">Monroe</option>
						<option value="35">Nassau</option>
						<option value="36">New York</option>
						<option value="37">Niagara</option>
						<option value="38">Oneida</option>
						<option value="39">Onondaga</option>
						<option value="40">Ontario</option>
						<option value="41">Orange</option>
						<option value="42">Orleans</option>
						<option value="43">Oswego</option>
						<option value="44">Otsego</option>
						<option value="45">Putnam</option>
						<option value="46">Queens</option>
						<option value="47">Richmond</option>
						<option value="48">Rockland</option>
						<option value="49">St_Lawrence</option>
						<option value="50">Schuyler</option>
						<option value="51">Seneca</option>
						<option value="52">Steuben</option>
						<option value="53">Suffolk</option>
						<option value="54">Sullivan</option>
						<option value="55">Tioga</option>
						<option value="56">Tompkins</option>
						<option value="57">Ulster</option>
						<option value="58">Washington</option>
						<option value="59">Wayne</option>
						<option value="60">Westchester</option>
						<option value="61">Wyoming</option>
						<option value="62">Yates</option>
							</select>

              <input type="email" placeholder=" Email Address Required" name="email" size="35" required>

						<input type="submit" value="Subscribe">
  					</div>
 					</form>
			</div>

<!-- ************************ END OF SECTION ONE **************** -->
<!-- ************************ START OF SECTION TWO **************** -->

			<div id="sectionTwo">
				<ul class="sectop">
					<li><h2><u>Lat</u>est Events</h2></li>
					<li class="dogbuil"><img class= "dogtags" src= "/images/icon-ID_tags.svg">
					<img class= "building" src= "/images/icon-shop.svg"></li>
				</ul>


				<div id= "calendar-outerdiv" class= "wide-discounts">

					<iframe id="inner-calendar" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;src=rcn6ut540658k20md3vi3lgo18%40group.calendar.google.com&amp;ctz=America%2FNew_York" style="border-width:0" width="600" height="600" frameborder="0" scrolling="no"></iframe>

				</div>
		<script src="/javascript/script.js"></script>
			</div>






<!-- ************************ END OF SECTION TWO **************** -->

<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->
{{> footer}}
<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->



</body>
</html>
