<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Return The Favor Program, Discounts for Veterans">
    <meta name="keywords" content="F.A.V.O.R., DD-214, Discounts, Veterans, NYS, Rensselaer, Troy, Capital Region">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <title>Home Return The Favor Discounts for Veterans DD-214</title>
  </head>

  <body>

<!-- ************************ START OF NAVBAR AREA**************** -->
{{> header }}
<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF SECTION ONE **************** -->

<div id= "sectionOne">
    <ul class="sectop">
        <li><h2 ><span class= "accent">Mis</span>sion Return The Favor</h2></li>
        <li class="dogbuil"><img class= "dogtags" src= "images/icon-ID_tags.svg">
        <img class= "building" src= "images/icon-shop.svg"></li>
    </ul>
        <h3><i>"Find & Assist Veterans of Record"</i></h3>
        <p>Return the F.A.V.O.R. (Find & Assist Veterans of Record) is a program for eligible New York State Veterans who have filed their DD-214 with their County Clerk’s Office. If the veteran or family member loses or needs their DD-214, they can return to the Clerk’s office to retrieve a certified copy.</p>

        <p>This program provides veterans with an Individualized Return the FAVOR Identification Card which gives them Discounts on purchases and services at participating merchants. To find out more about how Veterans can file their DD-214 and start accessing the Discounts on this page and in the Discounts Section, please contact your local NYS County Clerk’s Office or Veteran Service Agency.</p>
    </div>

<!-- ************************ END OF SECTION ONE **************** -->



<!-- ______________START OF THE RIGHT SIDEBAR_______________ -->


    {{!-- <div id="sidebar">


      <h2><a class="" href="discounts"><img class= "dogtags" src= "images/ID_tags_199819.png">
      VETERANS</a></h2>

      <p>Discounts, resources and more for veterans here</p>

      <br>

      <h2><a class="" href="support"><img class= "building" src= "images/icon-shop.png">BUSINESSES</a></h2>

      <p>Information for businesses that are participating or would like to participate.</p>



    </div> --}}


<!-- ______________END OF RIGHT SIDEBAR_______________ -->

<!-- ______________START OF THE DISCOUNTS AREA OF THE PAGE_______________ -->


    <div id= "discount-heading-wrapper">

      <div id=filter class="dropdown">

          <button id="home-filter" class="dropbtn">FILTER
              <i class="fa fa-caret-down"></i>
          </button>

            <div class="dropdown-content">
                <a href="https://rtrnthefvr.blogspot.com/search/label/Rensselaer?view=flipcard" target="discounts">Rensselaer Discounts</a>

                <a href="https://rtrnthefvr.blogspot.com/search/label/Troy?view=flipcard" target="discounts">Troy Discounts</a>

                <a href="https://rtrnthefvr.blogspot.com/search/label/Berlin?view=flipcard" target="discounts">Berlin Discounts</a>

                <a href="https://rtrnthefvr.blogspot.com/?view=flipcard" target="discounts" >See All Discounts</a>


            </div>

      </div>

      <div id="discount-title">
           <a class="black-heading" href="https://rtrnthefvr.blogspot.com/?view=flipcard" target="discounts"><h2><u>LAT</u>EST DISCOUNTS </h2> </a>
      </div>

      <!-- close discount-heading-wrapper -->
    </div>

    <div id= "outerdiv" class= "wide-discounts">

			<iframe id="inneriframe" name="discounts" width= "500px" height=  "1000px" src="https://rtrnthefvr.blogspot.com/?view=flipcard" scrolling=no>
 			<p> If you’re seeing this , your settings do not allow iframes </p>
			</iframe>

		</div>

<!-- ______________END OF THE DISCOUNTS AREA OF THE PAGE_______________ -->

<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->
{{> footer}}
<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->


</body>
<script src="javascript/script.js"></script>
</html>
