/* START OF MEDIA QUERIES */

/* over this width is 2 postings wide */
/* @media only screen and (min-width: 200px) {


} */
/* things that should appear on mobile*/
@media only screen and (max-width: 850px) {
           .rtf h1 {
            display:none;
           }

}

@media only screen and (max-width: 795px) {
            .menu .dropdown:nth-child(2) {
                display: none;
            }
            label {
                display: block;
            }
}


@media only screen and (max-width: 440px) {
input[type=text],[type=number],[type=email],[class=search], select {
     min-width: 90%;
     margin: 10px 0;
 }
 /* label {
     display: block;
 } */
 button {
     margin: 10px 0;
 }
 input[type=reset],[type=submit] {
     margin: 10px 0;
 }
 .menu .dropdown {
     display: flex;
 }
}
/* @media only screen and (max-width: 440px) {
            .menu .dropdown {
                display: flex;
                font-size: 10px;
            }
} */
@media only screen and (max-width: 360px) {
            .menu .dropdown {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
            }
            .clear {
                max-width: 120px;
                overflow: hidden;
                text-overflow: ellipsis;
                float: right;
            }
}
@media only screen and (max-width: 340px) {

            .menu .dropdown:nth-child(1) {
                display: none;
            }
            .select2-container--default .select2-selection--single{
                max-width: 90%;
            }
@media only screen and (max-width: 205px) {
            .menu .dropdown {
                display: none;
                        }
            }




@media only screen and (max-width: 520px) {
                     #filter {
            font-size: 16px;
            float: left;
            padding-left: 0px;


           }

           #discount-title {

            font-size: 12px;
            float: left;
            width: auto;

           }

}

/* END OF MEDIA QUERIES */
